@font-face {
  font-family: _h1_;
  src: url('/fonts/Webfonts/PaytoneOne-Regular.woff');
}

@font-face {
  font-family: _h2_;
  src: url('/fonts/Forum-Regular.otf');
}

@font-face {
  font-family: _normal_;
  src: url('/fonts/Webfonts/RobotoSlab-Regular.woff');
}

@font-face {
  font-family: _strong_;
  src: url('/fonts/Webfonts/RobotoSlab-Bold.woff');
}

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
  --vt-c-black: #081F1F;
  --vt-c-black-soft: #3C473F;
  --vt-c-black-mute: #2a342d;
  --vt-c-indigo: #535C4A;
  --vt-c-divider-light-1: rgba(84, 84, 84, 0.48);
  --vt-c-divider-light-2: rgba(84, 84, 84, 0.28);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);
  --vt-c-text-light-1: #dfcba2;
  --vt-c-text-light-2: rgba(223, 203, 162, 0.7);
  --vt-c-text-dark-1: #dfcba2;
  --vt-c-text-dark-2: rgba(223, 203, 162, 0.7);
}

:root {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);
  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);
  --color-heading: var(--vt-c-indigo);
  --color-text: var(--vt-c-text-dark-1);
  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--vt-c-black);
  background-image: url('/bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: screen;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: _normal_;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Thème forcé */
body.dark {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);
  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);
  --color-heading: var(--vt-c-indigo);
  --color-text: var(--vt-c-text-dark-1);
}

body.light {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);
  --color-heading: var(--vt-c-indigo);
  --color-text: var(--vt-c-text-light-1);
}