@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #42b883;
  transition: 0.4s;
  padding: 3px;
}

h1 {
  font-family: _h1_;
  color: var(--color-heading);
  text-shadow: 3px 3px 5px ghostwhite;
}

h2 {
  font-family: _h2_;
  color: var(--color-heading);
}

section {
  background-color: var(--color-background-soft);
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 1.5em;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}